@supports (display: grid) {
  .grid-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 1.5rem;

    @media #{$mq-medium} {
      grid-gap: 3rem;
      grid-auto-flow: row dense;
      grid-auto-rows: min-content;
      justify-content: space-evenly;
      align-items: flex-start;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    > .card + .card {
      @media #{$mq-medium} {
        margin-top: 0;
      }
    }
  }
}

.no-gutters {
  grid-gap: 0;
}

.col-span-2 {
  @media #{$mq-medium} {
    grid-column: span 2;
    grid-row: span 2;
  }
}
