.nav {
  @media #{$mq-small} {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
  }
}

.nav__content {
  position: relative;
  list-style: none;

  @media #{$mq-small} {
    display: flex;
    flex-flow: row nowrap;
  }
}

.nav__toggle {
  color: var(--font-color);
  background-color: var(--bg-color);
  border: none;
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
  font-size: 2.25rem;
  z-index: 120;

  &:hover,
  &:active,
  &:focus {
    color: var(--theme-color);
    background-color: var(--bg-color);
  }

  @media #{$mq-small} {
    display: none;
  }
}

.nav-link,
.nav-link:visited {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 0.75rem 0.75rem;
  font-weight: 600;
  color: var(--font-color);

  &:hover,
  &:active {
    color: var(--theme-color);
  }

  @media #{$mq-small} {
    padding: 0 0.75rem;
    margin: 0 0.5rem;
    color: var(--font-color);
  }
}

.fadeIn {
  animation-name: fade-in;
  animation-duration: 0.3s;
}

.fadeOut {
  animation-name: fade-out;
  animation-duration: 0.3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    filter: blur(5px);
  }
  100% {
    opacity: 100;
    filter: blur(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 100;
    filter: blur(0);
  }
  100% {
    opacity: 0;
    filter: blur(5px);
  }
}
