<nav class="navbar">
  <button class="nav__toggle">Menu</button>
  <ul class="nav__content">
    <li>
      <a href="/" class="nav__link">Home</a>
    </li>
    <li>
      <a href="/test/" class="nav__link">Test Page</a>
    </li>
  </ul>
</nav>
