---
layout: "base.njk"
---

<div class="grid-container">
  <div class="col-span-2">
    {{ content | safe }}
  </div>
  <div>
    <div class="bg-dark   card    padding--lg">
      <h2>A card</h2>
      <p>With a little bit of text</p>
    </div>
  </div>
</div>
