



[data-theme="dark"] {
  --purple-100: hsla(250, 64%, 13%, 100%);
  --purple-200: hsla(250, 64%, 23%, 100%);
  --purple-300: hsla(250, 64%, 33%, 100%);
  --purple-400: hsla(250, 64%, 43%, 100%);
  --purple-500: hsla(250, 64%, 53%, 100%);
  --purple-600: hsla(250, 64%, 63%, 100%);
  --purple-700: hsla(250, 64%, 73%, 100%);
  --purple-800: hsla(250, 64%, 83%, 100%);
  --purple-900: hsla(250, 64%, 93%, 100%);
  --pink-100: hsla(330, 77%, 13%, 100%);
  --pink-200: hsla(330, 77%, 23%, 100%);
  --pink-300: hsla(330, 77%, 33%, 100%);
  --pink-400: hsla(330, 77%, 43%, 100%);
  --pink-500: hsla(330, 77%, 53%, 100%);
  --pink-600: hsla(330, 77%, 63%, 100%);
  --pink-700: hsla(330, 77%, 73%, 100%);
  --pink-900: hsla(330, 77%, 83%, 100%);
  --pink-900: hsla(330, 77%, 93%, 100%);
  --light-100: hsla(250, 2%, 72%, 100%);
  --light-200: hsla(250, 2%, 75%, 100%);
  --light-300: hsla(250, 2%, 77%, 100%);
  --light-400: hsla(250, 2%, 80%, 100%);
  --light-500: hsla(250, 2%, 82%, 100%);
  --light-600: hsla(250, 2%, 87%, 100%);
  --light-700: hsla(250, 2%, 90%, 100%);
  --light-800: hsla(250, 2%, 92%, 100%);
  --light-900: hsla(250, 2%, 95%, 100%);
  --dark-100: hsla(250, 15%, 15%, 100%);
  --dark-200: hsla(250, 15%, 17%, 100%);
  --dark-300: hsla(250, 15%, 20%, 100%);
  --dark-400: hsla(250, 15%, 23%, 100%);
  --dark-500: hsla(250, 15%, 25%, 100%);
  --dark-600: hsla(250, 15%, 27%, 100%);
  --dark-700: hsla(250, 15%, 30%, 100%);
  --dark-800: hsla(250, 15%, 32%, 100%);
  --dark-900: hsla(250, 15%, 35%, 100%);
  --slate-100: hsla(240, 30%, 30%, 100%);
  --slate-200: hsla(240, 30%, 35%, 100%);
  --slate-300: hsla(240, 30%, 40%, 100%);
  --slate-400: hsla(240, 30%, 45%, 100%);
  --slate-500: hsla(240, 30%, 50%, 100%);
  --slate-600: hsla(240, 30%, 55%, 100%);
  --slate-700: hsla(240, 30%, 60%, 100%);
  --slate-800: hsla(240, 30%, 65%, 100%);
  --slate-900: hsla(240, 30%, 70%, 100%);
  --theme-color: hsla(var(--main-hue), 64%, 33%, 100%);
  --theme-color-muted: hsla(var(--main-hue), 64%, 23%, 100%);
  --accent-color: hsla(var(--accent-hue), 77%, 28%, 100%);
  --accent-color-muted: var(--pink-300);
  --accent-color-muted: hsla(var(--accent-hue), 77%, 33%, 100%);
  --background-color: hsla(var(--main-hue), 15%, 15%, 100%);
  --font-color: hsla(var(--main-hue), 2%, 90%, 100%);
  --font-color-muted: hsla(var(--main-hue), 2%, 82%, 100%);
  --slate: var(--slate-300);
  
  .bg-stripes {
    background-image: url("/assets/images/stripes_dark.svg");
    background-position: center;
    background-size: cover;
  }
  
  .bg-triangles-grad {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/assets/images/pink_blue_gradient_dark.svg");
    background-position: center;
    background-size: cover;
  }
  
  body {
    line-height: $base-line-height + 0.2;

    @media #{$mq-medium} {
      font-size: $base-font-size*1.2;
      line-height: $base-line-height * 1.2 + 0.2;
    }
    
    @media #{$mq-large} {
      font-size: $base-font-size*1.3;
    }
    
    @media #{$mq-xlarge} {
      font-size: $base-font-size*1.4;
    }
    
    @media #{$mq-xxlarge} {
      font-size: $base-font-size*1.6;
    }
  }
  
  strong {
    font-weight: 300;
  }
  
  img {
    opacity: 0.75;
    
    &:hover {
      opacity: 1;
    }
  }
}