.active {
  border-bottom: 6px solid var(--theme-color);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.list-group {
  list-style: none;
  padding: 0;
}

.rounded {
  border-radius: 20px;
}

.border {
  border: 2px solid var(--font-color);
}

.border-bottom {
  border-bottom: 4px solid var(--theme-color);
}

.border-bottom-accent {
  border-bottom: 4px solid var(--accent-color);
}

.border-left {
  border-left: 4px solid var(--theme-color);
}

.border-left-accent {
  border-left: 0.25rem solid var(--accent-color);
}
