.margin-y--sm {
  margin: 0.75rem 0;
}

.margin-top--lg {
  margin-top: 3rem;
}

.margin-left--sm--negative {
  margin-left: -0.75rem;
}

.margin-bottom--sm--negative {
  margin-bottom: -0.75rem;
}

.padding--x-lg {
  padding: 6rem;
}

.padding--sm {
  padding: 0.25rem;
}

.padding--md {
  padding: 0.75rem;
}

.padding--lg {
  padding: 1.5rem;

  @media #{$mq-medium} {
    padding: 3rem;
  }
}

.padding-x--sm {
  padding: 0 0.25rem;
}

.padding-x--sm {
  padding: 0 0.75rem;
}

.padding-x--lg {
  padding: 0 1.5rem;

  @media #{$mq-medium} {
    padding: 0 3rem;
  }
}

.position-relative {
  position: relative;
}

.stack {
  --space: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--space);
}

.stack > .stack--exclude {
  margin-bottom: -3rem;
}
